@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Teko);

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  margin: 1% auto;
  display: block;
  width: 800px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0.5px #ccc;
  background: #fff;
  overflow: auto;
}
.header {
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 80px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 1px 5px 0.5px #ccc;
  background: #fcc456;
}
label[for="logo-name"] {
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
  display: block-inline;
  margin: 25px auto;
  padding: 20px 20px 0 15px;
  position: absolute;
  #border: 1px solid grey;
}
.menu-header {
  display: block;
  width: 200px;
  height: 80px;
  background: #fcc456;
  #border: 1px solid grey;
  float: right;
}
label[for="username"] {
  display: block;
  float: right;
  padding: 5px 10px;
  font-size: 0.8em;
}
a.logout, a.logout:visited {
  color: #490713;
}
a.menu-link, a.menu-link:visited {
  float: right;
  border: 1px solid #abc;
  margin: 32px 0 0 115px;
  padding: 5px 20px;
  position: absolute;
  background: #ccc;
  font-size: 0.85em;
  color: #233c68;
  font-weight: bold;
}
a.menu-link:hover {
  color: #496799;
  background: #ddd;
}

.left {
  display: block;
  float: left;
  margin: 5px 0 5px 5px;
  border: 1px solid #ddd;
  width: 400px;
  height: 100%;
  background: #eee;
}
form[name='main-form'] {
  margin: 10px 0 0 10px;
}
.details-link {
  display: inline-block;
  padding: 5px 10px 3px 10px;
  font-size: 0.8em;
  color: #4f0408;
  background: #ddd;
  text-decoration: none;
}
.files-list-div {
  margin: 10px 0 0 10px;
}
label[for="list-name"] {
  font-size: 0.8em;
  color: #3d83f4;
}
label[for="files"] {
  font-size: 0.75em;
  padding-left: 15px;
}
label[for="dot"] {
  position: absolute;
  margin-top: -5px;
  padding-left: 15px;
  color: #3d83f4;
}
a.project-link, a.project-link:visited {
  color: blue;
}

.right {
  display: block;
  float: right;
  margin: 5px 5px 0 5px;
  #border: 2px solid #ddd;
  width: 380px;
  height: 100%;
}
.dropdown-menu {
  display: none;
  z-index: 1;
  position: absolute;
  text-align: right;
  float: right;
  margin-top: -8px;
  right: 105px;
  width: 150px;
  height: 100%;
  padding-right: 5px;
  #border: 1px solid grey;
}
a.dropdown-link, a.dropdown-link:visited {
  border: 1px solid #abc;
  display: inline-block;
  width: 90px;
  margin-right: -5px;
  padding: 5px 20px;
  background: #ccc;
  font-size: 0.8em;
  color: #233c68;
  text-decoration: none;
}
a.dropdown-link:hover {
  color: #496799;
  background: #ddd;
}
label[for="project_name"] {
  display: block;
  padding: 10px;
  border: 1px solid #345;
  font-size: 0.9em;
  color: #eee;
  background: #345;
}
.activity_div {
  display: block;
  padding: 10px 0 10px 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
label[for="project_updated"] {
  display: inline-block;
  font-size: 0.8em;
  color: #022866;
}
.username {
  font-size: 1em;
  color: #560030;
  font-weight: bold;
}
.status {
  font-family: monospace;
  font-size: 1.1em;
  color: #111;
}
.new-status {
  font-family: monospace;
  font-size: 1.1em;
  font-weight: bold;
  color: red;
}
a.action_link, a.action_link:visited {
  display: inline-block;
  margin-top: 5px;
  padding: 3px 10px;
  font-size: 0.9em;
  color: #4f0408;
  background: #ccc;
  text-decoration: none;
}
.right-bottom {
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 50px;
}
