@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.merge-history {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
label[for="title-form"] {
  display: block;
  padding: 3% 0 3% 0;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  width: 100%;
  margin: 0 0 5% 0;
  background: #ddd;
  text-decoration: underline;
}
.access-level {
  width: 100%;
  text-align: left;
  padding: 0 0 5% 0;
}
label[for="access-level"] {
  display: block-inline;
  font-size: 0.8em;
  color: #111;
}
.error {
  display: block;
  padding: 0 0 0.5% 0;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  color: red;
}
.form {
  position: relative;
  z-index: 1;
  background: #eee;
  max-width: 480px;
  margin: 50px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
a.edit-link, a.edit-link:visited {
  display: block;
  padding: 5px;
  color: #0067fa;
  background: #76b852;
}
a.delete-link, a.delete-link:visited {
  display: block;
  color: #720a1e;
  padding: 5px;
  background: #76b852;
}
.merge-list {
  border: 1px solid grey;
  border-collapse: collapse;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.merge-list th {
  background-color: black;
  color: white;
  padding: 5px;
}
.merge-list tr td {
  border: 1px solid grey;
  border-collapse: collapse;
}
.details, .view {
  display: block;
  padding: 5px 10px;
  font-size: 0.75em;
  color: #111;
  background: #76b852;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
