<!DOCTYPE html>
<head>
    <title>MPOTech Continous Integration - Activity Details</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='activity_details.css') }}" />
    <script>
    function checkEmptyMergeDiv() {
      if (document.getElementById("merge-notes").value == "") {
        alert("Please add some notes!");
      } else {
        document.forms["confirm-merge-form"].submit();
      }
    }
    function showMergeDiv() {
      document.getElementById('confirmMergeDiv').style.display = 'block';
    }

    function hideMergeDiv() {
      document.getElementById('confirmMergeDiv').style.display = 'none';
    }

    function checkEmptyCloseDiv() {
      if (document.getElementById("close-notes").value == "") {
        alert("Please add some notes!");
      } else {
        document.forms["confirm-close-form"].submit();
      }
    }
    function showCloseDiv() {
      document.getElementById('confirmCloseDiv').style.display = 'block';
    }

    function hideCloseDiv() {
      document.getElementById('confirmCloseDiv').style.display = 'none';
    }
    </script>
</head>
<body>

<div class="activity-details-page">
  <div class="form">

    <div id="confirmMergeDiv">
      <div id="popup-box">
        <form action="../merge" name="confirm-merge-form" method="POST">
          <a href="javascript:hideMergeDiv();" id="close-button">X</a><br>
          <label for="label_notes"><h3>Notes:</h3></label>
          {% if details %}
            <input type="hidden" name="act_id" value="{{ details.id }}">
          {% endif %}
          <textarea rows="4" cols="30" name="merge-notes" id="merge-notes"></textarea><br><br>
          <a href="javascript:checkEmptyMergeDiv();" id="submit-button">Merge Updates</a>&nbsp;&nbsp;
        </form>
      </div>
    </div>

    <div id="confirmCloseDiv">
      <div id="popup-box">
        <form action="../close_ticket" name="confirm-close-form" method="POST">
          <a href="javascript:hideCloseDiv();" id="close-button">X</a><br>
          <label for="label_notes"><h3>Notes:</h3></label>
          {% if details %}
            <input type="hidden" name="act_id" value="{{ details.id }}">
          {% endif %}
          <textarea rows="4" cols="30" name="close-notes" id="close-notes"></textarea><br><br>
          <a href="javascript:checkEmptyCloseDiv();" id="submit-button">Close Ticket</a><br>
        </form>
      </div>
    </div>

    <form class="project-details-form" action="../project_details" method="POST">
      <label for="title-form">Activity Details</label>
      <div class="access-level">
      {% if details %}
        {% if project_status.project_status %}
        <label for="project_name">Project Name: <a href="http://qqdewa.test/{{ details.project_name }}/master" target="_blank"><strong>{{ details.project_name.upper() }}</strong></a></label><br>
        {% else %}
        <label for="project_name">Project Name: <strong><span name="disabled-project">{{ details.project_name.upper() }}</span></strong></label><br>
        {% endif %}
        {% if details.revert_status == 0 and details.activity_status == 1%}
          <label for="project_updated">Updated by <span class="username">{{ details.updated_by }}</span>, at {{ details.updated_at }}</label><br><br>
        {% elif details.merge_status == 1 %}
          <span name="disabled-project"><label for="project_updated">Updated by <span class="username">{{ details.updated_by }}</span>, at {{ details.updated_at }}</label></span><br>
          <label for="project_updated">Merged by <span class="username">admin</span></label><br><br>
        {% elif details.activity_status == 0 %}
            <span name="disabled-project"><label for="project_updated">Updated by <span class="username">{{ details.updated_by }}</span>, at {{ details.updated_at }}</label></span><br>
            <label for="project_updated">Closed by <span class="username">admin</span></label><br><br>
        {% elif details.revert_status==1 %}
            <span name="disabled-project"><label for="project_updated">Updated by <span class="username">{{ details.updated_by }}</span>, at {{ details.updated_at }}</label></span><br>
            <label for="project_updated">Overwrited by <span class="username">{{ details.updated_by }}</span></label><br><br>
        {% endif %}
      <label for="label_header">Note:</label><br>
      <label for="update_notes">{{ details.notes }}</label><br><br>
      {% if details.merge_status==1 %}
        <label for="label_header">Admin Notes:</label><br>
        <label for="update_notes">{{ details.merge_notes }}</label><br><br>
      {% elif details.activity_status==0 %}
        <label for="label_header">Reply:</label><br>
        <label for="update_notes">{{ details.activity_notes }}</label><br><br>
      {% endif %}
      <label for="label_header">Files in branch-{{ details.updated_by }}:</label><br>
        {% if files %}
         {% for file in files %}
          <label for="files_structure">{{ file }}</label><br>
          {% endfor %}
        {% endif %}
      {% endif %}
      <br>
      </div>
      <div class="action_div">
        {% if details.revert_status==0 %}
         <a href="../view_project?view=1&project_name={{ details.project_name }}&activity_id={{ details.id }}" class="action_link" target="_blank"><span class="view">View</span></a>&nbsp;&nbsp;
         {% if userlevel and details.merge_status == 0 and details.activity_status == 1 %}
         <a href="javascript:showMergeDiv();" class="action_link">Merge Updates</a>&nbsp;&nbsp;
         <a href="javascript:showCloseDiv();" class="action_link">Close Ticket</a>&nbsp;&nbsp;
         {% endif %}
          <!-- <a href="javascript:confirmRevert('../revert_updates?flag=1&act_id={{ details.id }}')" class="action_link">Revert</a> -->
         {% endif %}
      </div>
      <div id="hiddenForm">
      </div>
    </form>
  </div>
</div>
</body>
</html>
