<!DOCTYPE html>
<head>
    <title>MPOTech Continous Integration - Edit Member</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_member.css') }}" />
    <script type="text/javascript">
    function confirmActivate(delURL, username) {
      if (confirm("Are you sure want to Activate user ".concat(username.toUpperCase()).concat(" ?"))) {
        document.location = delURL;
      }
    }
      function confirmDeactivate(delURL, username) {
        if (confirm("Are you sure want to Deactivate user ".concat(username.toUpperCase()).concat(" ?"))) {
          document.location = delURL;
        }
      }
    </script>

</head>
<body>
<div class="form">
  <form class="edit-member-form" action="../edit_member" method="GET">
  <label for="title-form">Member List</label>
  <table class="member-list" style="width:100%">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Username</th>
      <th>Access</th>
      <th colspan="2"></th>
    </tr>
    {% set number = [1] %}
    {% for member in members %}
      {% if member.username != 'rootadmin' %}
      <tr>
        <td>{{ number[0] }}</td>
        {% if number.append(number.pop()+1) %}{% endif %}
        <td>{{ member.name }}</td>
        <td>{{ member.username }}</td>
        <td>{{ member.level }}</td>
        <td><a href="../edit_member?edit=1&username={{ member.username }}" class="edit-link">Switch</a></td>
        {% if member.member_status == 1 %}
          <td><a href="javascript:confirmDeactivate('../edit_member?edit=2&username={{ member.username }}', '{{ member.username }}')" class="deactivate-link" id="delete-link">Deactivate</a></td>
        {% else %}
          <td><a href="javascript:confirmActivate('../edit_member?edit=3&username={{ member.username }}', '{{ member.username }}')" class="activate-link" id="delete-link">Activate</a></td>
        {% endif %}
      </tr>
      {% endif %}
    {% endfor %}
  </table>

  </form>
</div>
</body>
</html>
