<!DOCTYPE html>
<head>
    <title>MPOTech Continous Integration - Login Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}" />
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" action="../login" method="POST">
      <label for="title-form">MPOTech Collaboration Portal</label>
      <input type="text" placeholder="username" name="username" value="{{ request.form.username }}" />
      <input type="password" placeholder="password" name="password" value="{{ request.form.password }}" />
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
      <button>login</button>

      <!-- Enable if it has feature for a user to requesting admin to create a username/password -->
      <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
      <!-- COMMENT END OF LINE -->

    </form>
  </div>
</div>
</body>
</html>
