<!DOCTYPE html>
<head>
  <meta http-equiv="refresh" content="30">
    <title>MPOTech Continous Integration - Main Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_page.css') }}" />
    <script type="text/javascript">
      function reloadURL() {
        setTimeout(location.reload.bind(location), 5000);
      }
      function rolloverDropdown(showhide) {
        var dropdownObj = document.getElementById("dropdown");
        if (showhide==0) {
          dropdownObj.style.display = 'none';
        } else {
          dropdownObj.style.display = 'block';
        }
      }
      function selectProject() {
        document.getElementById('main-form').submit();
      }
    </script>
</head>
<body>
<div class="container">
  <div class="header">
    <label for="logo-name">MPOTech Collaboration Portal</label>
    <div class="menu-header">
      {% if username %}
        <label for="username">Hi {{ username.capitalize() }}, &nbsp;&nbsp;<a href="../logout?flag=1" class="logout">Logout</a></label><br>
      {% endif %}
      <a href="#" class="menu-link" onmouseover="rolloverDropdown(1);">MENU</a>
    </div>
  </div>
  <div class="left">
    <form name="main-form" id="main-form" method='POST' action="../">
      <select name="dropdown_project" onchange="selectProject();">
        {% if projects %}
          {% for project in projects %}
            <option value="{{ project.project_name }}">{{ project.project_name }}</option>
          {% endfor %}
        {% else %}
          <option value="">--</option>
        {% endif %}
      </select>
      <label for="project-name">Project Name</label>
    </form>
  </div>
  <div class="right">
    <div class="dropdown-menu" id="dropdown" onmouseover="rolloverDropdown(1);" onmouseout="rolloverDropdown(0)">
      {% if admin %}
        <a href="../add_project" class="dropdown-link">Add Project</a>
        <a href="../update_project" class="dropdown-link">Update Project</a>
        <a href="../merge_history" class="dropdown-link">Merge History</a>
        <a href="../new_member" class="dropdown-link">Add User</a>
        <a href="../edit_member" class="dropdown-link">Edit User</a>
      {% else %}
        <a href="../update_project" class="dropdown-link">Update Project</a>
        <a href="../merge_history" class="dropdown-link">Merge History</a>
      {% endif %}
    </div>
  </div>
</div>
</body>
</html>
