<!DOCTYPE html>
<head>
  <meta http-equiv="refresh" content="60">
    <title>MPOTech Continous Integration - Main Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_page.css') }}" />
    <script type="text/javascript">
      function rolloverDropdown(showhide) {
        var dropdownObj = document.getElementById("dropdown");
        if (showhide==0) {
          dropdownObj.style.display = 'none';
        } else {
          dropdownObj.style.display = 'block';
        }
      }
      function selectProject() {
        document.getElementById('main-form').submit();
      }
    </script>
</head>
<body>
<div class="container">
  <div class="header">
    <label for="logo-name">MPOTech Collaboration Portal</label>
    <div class="menu-header">
      {% if username %}
        <label for="username">Hi {{ username.capitalize() }}, &nbsp;&nbsp;<a href="../logout?flag=1" class="logout">Logout</a></label><br>
      {% endif %}
      <a href="#" class="menu-link" onmouseover="rolloverDropdown(1);" onmouseout="rolloverDropdown(0);">MENU</a>
    </div>
  </div>
  <div class="left">
    <form name="main-form" id="main-form" method='POST' action="../">
      <select name="dropdown_project" onchange="selectProject();">
        {% if projects %}
          {% for project in projects %}
            {% if projectName == project.project_name %}
              <option value="{{ project.project_name }}" selected="selected">{{ project.project_name }}</option>
            {% else %}
              <option value="{{ project.project_name }}">{{ project.project_name }}</option>
            {% endif %}
          {% endfor %}
        {% else %}
          <option value="">--</option>
        {% endif %}
      </select>
      <a href="../project_details?name={{ projectName }}" class="details-link" target="_blank">Details</a>
    </form>
    <div class="files-list-div">
      {% if fileList %}
        {% for file in fileList %}
          --&nbsp;<label for="list-name"><a href='http://qqdewa.test/{{ projectName }}/{{ file[0] }}' class="project-link" target="_blank">{{ file[0] }}</a></label><br>
          {% for i in range(5) %}
            {% if file[1][i] %}
              <label for="files">{{ file[1][i] }}</label><br>
            {% endif %}
          {% endfor %} <label for="dot">................</label> <br>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="right">
    <div class="dropdown-menu" id="dropdown" onmouseover="rolloverDropdown(1);" onmouseout="rolloverDropdown(0)">
      {% if admin %}
        <a href="../add_project" class="dropdown-link">Add Project</a>
        <a href="../update_project" class="dropdown-link">Update Project</a>
        <a href="../merge_history" class="dropdown-link">Merge History</a>
        <a href="../new_member" class="dropdown-link">Add User</a>
        <a href="../edit_member" class="dropdown-link">Edit User</a>
      {% else %}
        <a href="../update_project" class="dropdown-link">Update Project</a>
        <a href="../merge_history" class="dropdown-link">Merge History</a>
      {% endif %}
    </div>
    <label for="project_name">Activities for project: - <strong>{{ projectName }}</strong> -</label>
    {% if activities %}
      {% for act in activities %}
        <div class="activity_div">
          <label for="project_updated">Updated by <span class="username">{{ act.updated_by }}</span>, at {{ act.updated_at }}</label><br>
          <label for="project_updated">Status:
           {% if act.merge_status == 1%}
            <span class="status">MERGED</span><br>
           {% elif act.review_status == 1 and act.merge_status == 0 %}
            <span class="status">VIEWED</span><br>
           {% else %}
            <span class="new-status">NEW!</span><br>
           {% endif %}
           <a href="../view_project?view=1&project_name={{ act.project_name }}&activity_id={{ act.id }}" class="action_link" target="_blank"><span class="view">View</span></a>&nbsp;&nbsp;
           <a href="../activity_details?act_id={{ act.id }}" target="_blank" class="action_link"><span class="details">Details</span></a>
         </label>
        </div>
      {% endfor %}
    {% endif %}
    <div class="right-bottom">
    </div>
  </div>
</div>
</body>
</html>
