<!DOCTYPE html>
<head>
    <title>QQDewa Continous Integration - Add New Member</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_member.css') }}" />
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="new-member-form" action="../new_member" method="POST">
      <label for="title-form">Register New Member</label>
      <div class="access-level">
      <label for="access-level">Access Level:</label>
      <select>
        <option value="">--</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
      </div>
      <input type="text" placeholder="Fullname" name="fullname" value="{{ request.form.fullname }}" />
      <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}" />
      <input type="text" placeholder="Password" name="password" value="{{ request.form.password }}" />
      <button>Add Member</button>
      
      <!-- Enable if it has feature for a user to requesting admin to create a username/password -->
      <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
      <!-- COMMENT END OF LINE -->

    </form>
  </div>
</div>
</body>
</html>
