<!DOCTYPE html>
<head>
    <meta http-equiv="refresh" content="30"/>
    <title>MPOTech Continous Integration - Project Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project_details.css') }}" />
    <script type="text/javascript">
      function reloadURL() {
        setTimeout(location.reload.bind(location), 5000);
      }
      function confirmDisable(rURL, project_name) {
        if (confirm("Are you sure want to disable project ".concat(project_name.toUpperCase()).concat(" ?"))) {
          document.location = rURL;
        }
      }
      function confirmDelete(rURL, project_name) {
        if (confirm("Are you sure want to delete project ".concat(project_name.toUpperCase()).concat(" ?"))) {
          document.location = rURL;
        }
      }
    </script>
</head>
<body>
<div class="project-details-page">
  <div class="form">
    <form class="project_details-form" action="../project_details" method="POST">
      <label for="title-form">Project Details</label>
      <div class="access-level">
      {% if details %}
        {% if details.project_status %}
        <label for="project_name">Project Name: <a href="http://qqdewa.test/{{ details.project_name }}/master" target="_blank"><strong>{{ details.project_name.upper() }}</strong></a> -- <a href="../update_project" class="upload-link"/>&nbsp;&lt; Upload &gt;</a></label><br>
        {% else %}
        <label for="project_name">Project Name: <strong><span name="disabled-project">{{ details.project_name.upper() }}</span></strong> -- </label><br>
        {% endif %}
      <label for="project_created">Created by <span class="username">{{ details.created_by }}</span>, at {{ details.created_at }}</label><br><br>
      <label for="label_header">Description:</label><br>
      <label for="project_description">{{ details.description }}</label><br><br>
      <label for="label_header">Files:</label><br>
        {% if files %}
         {% for file in files %}
          <label for="files_structure">{{ file }}</label><br>
          {% endfor %}
        {% endif %}
      {% endif %}
      <br>
      <label for="label_header">Latest Activity:</label><br>
       {% if activities %}
       <table name="activities_table">
        {% for activity in activities %}
        <tr>
          <td>
            <label for="activities_list">Updated by: <span class="username">{{ activity.updated_by }}</span>, at: {{ activity.updated_at }}&nbsp;&nbsp;</label>
          </td>
          {% if details.project_status == 1 %}
            <td>
              <a href="../activity_details?act_id={{ activity.id }}" target="_blank" class="details_link"><span class="details">Details</span></a>
            </td>
            <td>
              <a href="../view_project?view=1&project_name={{ activity.project_name }}&activity_id={{ activity.id }}" class="view_link" target="_blank" onclick="setTimeout(location.reload.bind(location), 5000);"><span class="view">View</span></a>
            </td>
          {% endif %}
          <td>
            {% if activity.merge_status==0 and activity.revert_status==0 and activity.review_status==0 %}
              <span class="new_label">New!</span>
            {% elif activity.merge_status==1 %}
              <span class="review_label">Merged</span>
            {% elif activity.activity_status == 0 %}
              <span class="review_label">Closed</span>
            {% elif activity.revert_status==1 %}
              <span class="review_label">Overwrited</span>
            {% elif activity.review_status==1 %}
              <span class="review_label">Viewed</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% else %}
          <label for="activities_list">--</label><br>
       {% endif %}
       </table>
      </div>
      <div class="disable_div">
        {% if userlevel %}
         <a href="javascript:confirmDelete('../delete_project?flag=2&project_name={{ details.project_name }}', '{{ details.project_name }}' )" class="disable_link">Delete Project</a>
         {% if userlevel and details.project_status==1 %}
         <a href="javascript:confirmDisable('../delete_project?flag=0&project_name={{ details.project_name }}', '{{ details.project_name }}' )" class="disable_link">Disable Project</a>
         {% elif userlevel and details.project_status==0 %}
         <a href="../delete_project?flag=1&project_name={{ details.project_name }}" class="disable_link">Enable Project</a>
         {% endif %}
       {% endif %}
      </div>
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}

    </form>
  </div>
</div>
</body>
</html>
