<!DOCTYPE html>
<head>
    <title>MPOTech Continous Integration - Update Project</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='update_project.css') }}" />
    <script>
      function selectFolder(e) {
        for (var i=0; i < e.target.files.length; i++) {
          var s = e.target.files[i].name + '\n';
          s += e.target.files[i].size + 'Bytes\n';
          s += e.target.files[i].type;
          alert(s);
        }
      }
    </script>
</head>
<body>
<div class="update-project-page">
  <div class="form">
    <form class="update-project-form" action="../update_project" method="POST" enctype="multipart/form-data">
      <label for="title-form">Update Project</label>
      <div class="access-level">
      <label for="update-project">Project Name : </label>
      <select name="project_name">
        <option value="">--</option>
        {% if project_names %}
        {% for name in project_names %}
        <option value="{{ name.project_name }}">{{ name.project_name }}</option>
        {% endfor %}
        {% endif %}
      </select>
      <br><br>
      <label for="update-project">ZIP File : </label>
      <!-- <input type="file" name="files[]" multiple="multiple" webkitdirectory mozdirectory odirectory msdirectory><br>-->
      <!-- <input type="file" name="files[]" onchange="selectFolder(event)"; webkitdirectory mozdirectory odirectory msdirectory multiple="multiple"><br> -->
      <input type="file" name="files"><br>
      <label for="update-project">Notes:</label><br>
      <textarea rows="4" cols="50" name="notes"></textarea><br><br>
      <button>Submit</button>
      </div>
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}

    </form>
  </div>
</div>
</body>
</html>
